<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notitas</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <nav>
            <div class="brand-wrapper">
                <div class="logo">
                    <img src="images/logo.svg" alt="">
                </div>
            </div>        
        </nav>
    </header>

    <main>
        <section class="editForm">
            <h1>Editar una nota</h1>
            
            <form action="?_method=PUT" method="post" >
                <div>
                    <label for=""> <%= nota.titulo %> </label>
                    <input type="text" name="newTitle" >
                </div>
                <div>
                    <label for="message">Mensaje</label>
                    <textarea name="newText" id="message" cols="30" rows="10"><%= nota.texto %></textarea>
                </div>
                <button type="submit">Editar</button>
            </form>
        </section>
        <a href="/" class="back">INICIO</a>
    </main>

</body>
</html>